* {
  font-size: 1.1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.registrationForm {
  margin-top: 25vh;
  background-color: antiquewhite;
  border: 3px solid black;
  border-radius: 25px;
  padding: 25px;
  width: 35vw;
  box-shadow: 5px 5px 5px grey,
  -5px -5px 5px grey;
}

.registrationForm > fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.registrationForm > fieldset > legend {
  
  font-size: 1.3rem;
  background-color: rgb(25, 25, 25);
  color: antiquewhite;
  padding: 15px;
}

.registrationForm > fieldset > input {
  margin: 5px;
  width: 50%;
}